<h1>Benvenido! Por favor confirma tu cuenta.</h1>

<p>
    Por favor confirma tu cuenta haciendo click en este link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar email</a>.
    El link expira en {{ expiresAt|date('g') }} hora(s).
</p>

<p>
    Cheers!
</p>
