{% extends 'base.html.twig' %}

{% block contenedor_principal %}
	<h1>Categorias</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody>
			{% for categoria in categorias %}
				<tr>
					<td>{{categoria.nombre}}</td>
                    <td>{{categoria.color}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
